.Chicken-Card {
  min-width: 250px;
  box-shadow: 3px 3px 2px 2px #00000017;
  background: rgba(201, 201, 238, 0.178);
  margin: 3px;
  border-radius: 3px;
  flex: 1;
  opacity: 0.5;
  transition: opacity 300ms linear, transform 300ms cubic-bezier(0.5, 0.03, 0.5, 0.9);
  transform: scale(0.9);

}

.Card-Highlighted {
  border: solid lightblue 2.5px;
  opacity: 1;
  transform: scale(1);
}

.Chicken-Name {

}

.Chicken-Image {
 max-width: 250px;
 height: 250px;
}

.Chicken-Details {
  margin: 0 12px;
  text-align: left;
}